
<ul>
  <li class="head-line">High Scores
  <ul class="drop-menu">
    {{#each sortedScores as |highscore|}}
    <li>{{highscore.username}}'s score : {{highscore.score}}</li>
    {{else}}
    <p> No high scores have been recorded yet</p>
    {{/each}}
  </ul>
  </li>
</ul>
