<section class="high-score">
<ul>
  <li class="head-line">High Score</li>
  <ul class="drop-menu">
    {{#each sortedScores as |highscore|}}
    <li>{{highscore.username}}: {{highscore.score}}</li>
    {{else}}
    <p> No high scores have been recorded yet</p>
    {{/each}}
  </ul>

</ul>

</section>
