<div class="parent-container">
  <div class="piecetile corner">

  </div>
  <div class="piecetile" id="uppermiddle">

  </div>
  <div class="piecetile lastinrow corner">

  </div>
  <div class="piecetile" id="middleleft">

  </div>
  <div class="piecetile" id="center">

  </div>
  <div class="piecetile lastinrow" id="middleright">

  </div>
  <div class="piecetile corner">

  </div>
  <div class="piecetile" id="lowermiddle">

  </div>
  <div class="piecetile lastinrow corner">

  </div>
  <button {{acton 'newTile'}}>New Tile</button>
  <button {{action 'rotate'}}>Rotate</button>
</div>
