
{{#if (eq tritileState "empty")}}
  <div class="filledTile">
    <button class="emptyTile" {{action 'placeTile'}}>&nbsp;</button>
  </div>
{{else}}
  <div class="{{tritileState}} filledTile">
    &nbsp;
  </div>
{{/if}}
