@import 'highscore';
@import 'lillies';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .button {
    display: flex;
    justify-content: center;
    padding: 60px;
    background-color: #1E3A59;
    button {
      width: 30%;
      padding: 10px;
      font-size: 1.2em;
    }
  }
  #ember441 {
    width: 100%;
    .frog-group {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      width: 100%;
      padding: 5% 0;
      background-color: #A5D5E8;
      padding-bottom: 10%;

      .color {
        height: 30%;
        margin: 70px;
      }
      .red {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
        z-index: 900;
        height: 180px;
        margin-bottom: 70px;
        img {
          width: 180px;
          height: 80%;
        }
      }
      .red::after, .yellow::after, .blue::after, .green::after  {
        position: absolute;
        z-index: -100;
      }
      .red::after {
        content: url(../img/lillypad2.png);
        bottom: 10px;
      }
      .yellow::after {
        content: url(../img/lillypad3.png);
        bottom: -40px;
      }
      .blue::after {
        right: -67px;
        content: url(../img/lillypad.png);
        bottom: -50px;
      }
      .green::after {
        left: -57px;
        content: url(../img/lillypad.png);
        bottom: -50px;
      }
      .blue {
        display: flex;
        justify-content: flex-end;
        width: 40%;
        z-index: 900;
        position: relative;
        img {
          width: 350px;
          height: 250px;
        }
      }
      .green {
        display: flex;
        justify-content: flex-start;
        width: 40%;
        z-index: 900;
        position: relative;
        margin-left: 10%;
        img {
          width: 350px;
          height: 250px;
        }
      }
      .yellow {
        display: flex;
        justify-content: center;
        width: 100%;
        z-index: 900;
        position: relative;
        height: 450px;
        img {
          width: 550px;
          height: 95%;
        }
      }
    }
  }
}

// **************animation***********//

.red, .green {
  -webkit-animation: float-lilly 6s linear infinite;
}
.blue {
  -webkit-animation: float-lilly 9s ease-in-out infinite;
}
.yellow {
  -webkit-animation: float-lilly 5s ease-in-out infinite;
}

@-webkit-keyframes float-lilly {

  25% { -webkit-transform: translateY(1px) rotate(2deg) translateX(-3px); }

  75% { -webkit-transform: translateY(-1px) rotate(-2deg) translateX(3px); }

}
