.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .button {
    display: flex;
    justify-content: center;
    padding: 60px;
    background-color: #1E3A59;
    button {
      width: 30%;
      padding: 10px;
      font-size: 1.2em;
    }
  }
  .frog-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5% 0;
    background-color: #A5D5E8;
    padding-bottom: 10%;
    .lilly1 {
      height: 30px;
      width:250px;
      position: absolute;
      left: 10px;
    }
    .lilly2 {
      height: 30px;
      width:250px;
      position: absolute;
      top: 641px;
      right: 227px;
    }
    .lilly3 {
      height: 45px;
      width: 250px;
      position: absolute;
      top: 604px;
      left: 126px;
    }
    .lilly4 {
      height: 45px;
      width:250px;
      position: absolute;
      top: 800px;
      left: 100px;
    }
    .lilly5 {
      height: 40px;
      width:250px;
      position: absolute;
      top: 400px;
      right: 800px;
      z-index: 0;
    }
    .lilly6 {
      height: 40px;
      width:250px;
      position: absolute;
      top: 9000px;
      right: 150px;
    }
    .lilly7 {
      height: 40px;
      width: 250px;
      position: absolute;
      top: 617px;
      left: 30px;
    }
    .lilly8 {
      height: 40px;
      width:250px;
      position: absolute;
      top: 443px;
      left: 281px;
    }
    .lilly9 {
      height: 40px;
      width:250px;
      position: absolute;
      top: 815px;
      right: 10px;
    }
    .lilly10 {
      height: 40px;
      width:250px;
      position: absolute;
      top: 700px;
      right: -73px;
    }
    .lilly11 {
      height: 40px;
      width:250px;
      position: absolute;
      top: 300px;
      left: 154px;;
    }
    .lilly12 {
      height: 40px;
      width:250px;
      position: absolute;
      top: 200px;
      right: 454px;;
    }
    .lilly13 {
      height: 40px;
      width:250px;
      position: absolute;
      top: 300px;
      right: 79px;;
    }
    .lilly14 {
      height: 40px;
      width:250px;
      position: absolute;
      top: 609px;
      right: 154px;;
    }
    .lilly15 {
      height: 40px;
      width:250px;
      position: absolute;
      top: 384px;
      right: 175px;;
    }
    img {
    width: 350px;
    height: 100%;
    }
    .color {
      height: 30%;
      margin: 70px;
    }
    .red {
      display: flex;
      justify-content: center;
      width: 100%;
      position: relative;
      z-index: 900;
      height: 180px;
      margin-bottom: 70px;
      img {
        width: 180px;
        height: 80%;
      }
    }
    .red::after, .yellow::after, .blue::after, .green::after  {
      position: absolute;
      z-index: -100;
    }
    .red::after {
      content: url(../img/lillypad2.png);
      bottom: 10px;
    }
    .yellow::after {
      content: url(../img/lillypad3.png);
      bottom: -40px;
    }
    .blue::after {
      right: -67px;
      content: url(../img/lillypad.png);
      bottom: -50px;
    }
    .green::after {
      left: -57px;
      content: url(../img/lillypad.png);
      bottom: -50px;
    }
    .blue {
      display: flex;
      justify-content: flex-end;
      width: 40%;
      z-index: 900;
      position: relative;
    }
    .green {
      display: flex;
      justify-content: flex-start;
      width: 40%;
      z-index: 900;
      position: relative;
    }
    .yellow {
      display: flex;
      justify-content: center;
      width: 100%;
      z-index: 900;
      position: relative;
      height: 450px;
      img {
        width: 550px;
        height: 95%;
      }
    }
  }
}

// **************animation***********//

.red, .green {
  -webkit-animation: float-lilly 7s ease-in-out infinite;
}
.blue {
  -webkit-animation: float-lilly 4s ease-in-out infinite;
}
.yellow {
  -webkit-animation: float-lilly 5s ease-in-out infinite;
}

@-webkit-keyframes float-lilly {

  30% { -webkit-transform: translateY(1px) rotate(2deg) translateX(-5px); }

  75% { -webkit-transform: translateY(-1px) rotate(-2deg) translateX(5px); }

}
