.frog-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;


  img {
  width: 400px;

  }

  .red {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 900;
  }
  .red::after, .yellow::after, .green::after, .blue::after {
    content: url(../img/lillypad.png);
    position: absolute;
    bottom: -50px;
    z-index: -900;
  }
  .blue::after {
    left: 230px;
  }
  .green::after {
    left: -30px;
  }
  .blue {
    display: flex;
    justify-content: flex-end;
    width: 45%;
    position: relative;
  }

  .green {
    display: flex;
    justify-content: flex-start;
    width: 45%;
    position: relative;
  }
  .yellow {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
  }

  .color {
    height: 315px;
    margin: 30px;

  }

  .off {

  }
}
