  .head-line {
    list-style: none;
    text-transform: uppercase;
    position: relative;
    font-size: 1.8em;
    color: $color-green;
  }
  .drop-menu {
    position: absolute;
    top: 50px;
    left: -100px;
    z-index: 100000;
  }
  // **********hide/show******
  .drop-menu li {
    font-size: 1em;
    list-style: none;
    text-transform: uppercase;
    display: none;
    color: $color-med-blue;
  }
  .head-line:hover {
    cursor: pointer;
    perspective: 1000px;
    color: white;
    .drop-menu li {
      margin-top: 30px;
      z-index: 90000;
      display: block;
      opacity: 0;
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          -webkit-animation: highscore 1s (300ms * $i - 300ms) linear;
          -webkit-animation-fill-mode: forwards;
        }
      }
    }
  }

  @keyframes highscore {
    0% { opacity: 0; -webkit-transform: rotateY(-90deg) translateY(30px); }
    50% { opacity: 1; -webkit-transform: rotateY(0deg) translateY(0px); }
    100% { opacity: 1; -webkit-transform: rotateY(0deg) translateY(0px); }
  }
