html {
  height: 100vh;
  background-color: $color-turq;
}
.homepage {
  width: 100%;
  display: flex;
  align-items: center;
  height: 500px;
  margin-top: 10%;
  img {
    width: 120px;
    -webkit-animation: home-frog 3s ease-in-out infinite;
  }
  a {
    width: 400px;
    font-size: 3em;
    text-decoration: none;
    font-family: 'Passion One', cursive;
    padding-left: 2%;
    color: $color-med-blue;
    &:first-of-type {
      text-align: center;
    }
    &:hover {
      color: $color-light-turq;
    }
  }
}

@-webkit-keyframes home-frog {

  25% { -webkit-transform: rotate(10deg);  }

  75% { -webkit-transform: rotate(-10deg); }

}
