html {
  height: 100vh;
  background-color: $color-turq;
}
.homepage {
  width: 100%;
  display: flex;
  align-items: center;
  height: 500px;
  margin-top: 10%;
  img {
    width: 120px;
    -webkit-animation: home-frog 3s ease-in-out infinite;
    &:first-of-type {
      margin-left: 30%;
    }
  }
  a.ember-view {
    width: 400px;
    font-size: 3em;
    text-decoration: none;
    font-family: 'Passion One', cursive;
    padding-left: 2%;
    color: $color-med-blue;
    &:hover {
      color: $color-light-turq;
    }
  }
}

@-webkit-keyframes home-frog {
  0% {-webkit-transform:rotate(8deg);}
  50% {-webkit-transform:rotate(-8deg);}
  100% {-webkit-transform:rotate(8deg);}
}
