

.ember-modal-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Passion One', cursive;
  color: $color-med-blue;
  font-size: 1.2em;
  padding: 20px;
  button {
    width: 30%;
    height: 30px;
    margin: 10px;
    border: 2px solid $color-med-blue;
    background-color: white;
    color: $color-med-blue;
  }
  #username {
    width: 30%;
  }
}
