nav {
  display: flex;
  height: 180px;
  align-items: center;
  background-color: $color-light-blue;
  font-family: 'Passion One', cursive;
  a {
    text-transform: uppercase;
    font-size: 1.8em;
    color: $color-green;
    text-decoration: none;
  }
  button {
    width: 80%;
    height: 60px;
    padding: 10px;
    font-size: 1.8em;
    border: 2px solid $color-green;
    background-color: white;
    letter-spacing: 2px;
    color: $color-green;
    &:hover {
      background-color: $color-green;
      color: $color-white;
    }
  }
  .ember-view {
    width: 15%;
    margin-left: 20%;

  }
}
