.piecetile{
  height: 30px;
  width: 30px;
  background-color: blue;
  margin: 2px;
}

.corner {
  background-color: white;
}

.parent-container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 110px;
}

.tritryst {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 410px;
}

.tri-white {
  background-color: white;
}
.tri-green {
  background-color: green;
}
.tri-lightblue {
  background-color: lightblue;
}
.tri-darkblue {
  background-color: darkblue;
}
.tri-red {
  background-color: red;
}
.tri-yellow {
  background-color: yellow;
}
.tri-pink {
  background-color: pink;
}

.filledTile {
  height: 20px;
  width: 50px;
}
