.piece-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .orientation {
    display: flex;
    flex-wrap: wrap;
    width: 110px;
    margin: 0;
    .piecetile {
      height: 30px;
      width: 30px;
      background-color: blue;
      margin: 2px;
    }
    .corner {
      background-color: $color-turq;
    }
    .buttons {
      display: flex;
      button {
        width: 200px;
        border: 2px solid $color-med-blue;
        padding: 10px;
        margin-right: 20px;
        background-color: $color-turq;
      }
    }
  }

}

.tritryst-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    font-family: 'Passion One', cursive;
    text-transform: uppercase;
    font-size: 1.8em;
    a {
      text-decoration: none;
      color: $color-med-blue;
      padding-left: 100px;
    }
    h1 {
      width: 150%;
      margin: 0;
      color: $color-med-blue;
    }
  }
}
.tritryst {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  width: 500px;
  border: 1px solid black;
  .ember-view {
    z-index:0 !important;
    margin: 1px;
    width: 60px !important;
  }
}

.tri-white {
  z-index: 10;
  background-color: white;
}
.tri-green {
  z-index: 10;
  background-color: green;
}
.tri-lightblue {
  z-index: 10;
  background-color: lightblue;
}
.tri-darkblue {
  z-index: 10;
  background-color: darkblue;
}
.tri-red {
  z-index: 10;
  background-color: red;
}
.tri-yellow {
  z-index: 10;
  background-color: yellow;
}
.tri-pink {
  z-index: 10;
  background-color: pink;
}
